.Main {
    padding-top: 30px;
    height: calc(100vh - 100px);
}

.Main .addProduct {
    height: 50px;
    width: 200px;
    border-style: none;
    background-color: #c436c7;
    border-radius: 10px;
    font-size: 16pt;
}

.Main .addProduct:hover {
    background-color: #8c148f;
}

.Main .mainGrid {
    width: 100%;
    padding: 30px;
    row-gap: 30px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
    .Main .mainGrid {
        height: 100%;
        padding: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 426px) {
    .Main .mainGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}